// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
@import url('https://use.typekit.net/syf6bfq.css');

$color-red: #f44130;
$dark-red: #cc3628;
$light-grey: #f4f7f6;
$middle-grey: #e6eaea;
$white: #fcfcfc;
$body-font-family: amplitude;